doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/icon" href="/img/logo.png")
        title #{title}
    body 
        h1 Home Pagee
        a(href="/logout") Logout

        p #{UserDetails.name}
        p #{UserDetails.email}

        img(src=UserDetails.profilePic, alt="user logo" width=100)