extends layouts/form-layout.pug
block content
    .form-container
        h1 Welcome back
        p  login in to access your account..
        form(method="POST")
            p.errorMessage #{errorMessage}
            .row 
                input(type="text" required="" name="username")
                label Email or username 
            .row 
                input(type="text" required="" name="password")
                label Password 
            .row 
                button(type="submit") Login Now 
        p Not A Member ? 
            a(href="/register") SignUp Here
            br 
            a(href="#") Forget Password ?     