doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="icon", type="image/icon" href="/img/logo.png")
        link(rel="stylesheet" href="/css/style.css")
    body
        .form-container
            h1 Welcome back
            p  login in to access your account..
            form(method="POST")
                p.errorMessage #{errorMessage}
                .row 
                    input(type="text" required="" name="username")
                    label Email or username 
                .row 
                    input(type="text" required="" name="password")
                    label Password 
                .row 
                    button(type="submit") Login Now 
            p Not A Member ? 
                a(href="/register") SignUp Here
                br 
                a(href="#") Forget Password ?     