mixin navbar(userDetails)
    .navbar
        h3 Groot Development
        ul
            li 
                a(href="/home") Home  
            li 
                a(href="/settings") Settings  
            li 
                a(href="") Welcome #{userDetails.name} 
            li 
                a(href="/logout") Logout 